/**
* File contains site-wide styles. Main body, html styles. Base typography styles.
**/

*{
    @include box-sizing(inherit);
}
html{
    -webkit-font-smoothing: antialiased;
    padding: 0;
    @include box-sizing(border-box);
}
body{
    padding: 0;
    margin: 0;
    background: $body-bg;
    color: $text-color;
    font-family: $font-family;
}
.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
h2 {
    font-size: 22px;
    line-height: 25px;
    font-weight: $font-weight-light;
    color: $headings-color;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    margin-top: 33px;

    &:first-child{
        margin-top: 0;
    }
}
.panel {
    background: $panel-bg;
    border-radius: 4px;

    .panel-row {
        border-bottom: 1px solid $panel-row-border;

        &:last-child {
            border-bottom: 0;
        }
    }
}
.base-input,
.type-select {
    padding: 14px 19px;
    border: none;
    font-family: $font-family2;
    font-size: 13px;
    color: $base-input-color;
    line-height: 17px;
    @include transition($color-transition);

    &:hover,
    &:active,
    &:focus{
        color: darken($base-input-color, 20%);
        outline: none;
    }
}
.type-select{
    text-decoration: none;
    display: inline-block;
    position: relative;

    &:after{
        @include addon;
        @include main-sprite(dark-down);
        right: 19px;
        top: 50%;
        margin-top: -(image-height($base-image-url+$dark-down-url)/2);

        @media screen and (min-width: $break-small) {
            right: 5px;
        }
    }
}
.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid $border-color;
    margin-bottom: 10px;

    li {
        display: inline-block;

        a{
            display: inline-block;
            padding-bottom: 12px;
            border-bottom: 2px solid transparent;
            margin-bottom: -2px;
            text-decoration: none;
            margin-right: 10px;
            color: $tabs-inactive-color;

            &:hover{
                color: $tabs-active-color;
            }
        }

        &.active{
            a {
                color: $tabs-active-color;
                border-bottom-color: $tabs-active-color;
            }
        }
    }
}
.tag{
    @include mix-tag;
}
.url{
    .url-base,
    .url-domain,
    .url-param {
        font-family: $font-family2;
        font-size: 13px;
        color: $url-base-color;
        line-height: 21px;
    }
    .url-param{
        color: $url-param-color;
    }
    .tag{
        margin-right: 7px;
    }
}
.label {
    display: inline-block;
    text-transform: uppercase;
    font-family: $font-family2;
    font-weight: $font-weight-medium;
    font-size: 10px;
    color: $label-color;
    line-height: 13px;
    background: $label-bg;
    padding: 3px 9px;

    &.label-ok {
        background: $label-ok-bg;
        color: $label-ok-color;
        position: relative;
        padding-left: 21px;

        &:before{
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            background: $main-green;
            position: absolute;
            left: 8px;
            top: 50%;
            margin-top: -4px;
            border-radius: 7px;
        }
    }
}
.time {
    font-style: italic;
    font-size: 10px;
    color: $time-color;
    line-height: 13px;
}
.number-info {
    border: 1px solid $border-color;
    font-weight: $font-weight-medium;
    font-size: 12px;
    color: $dark-blue2;
    line-height: 15px;
    padding: 2px 10px;
    border-radius: 15px;
}