.smart-bar {
    @include display-flex;
    @include flex-direction(row);

    .security-section {
        @include order(1);
        padding: 10px;
    }
    .method-section{
        @include order(2);
        padding: 13px 15px;
    }
    .input-section {
        @include flex(20);
        @include order(3);
        padding: 0 10px;
    }
    .button-section {
        @include order(4);
    }
}
.row{
    @include clearfix;
    clear: both;

    .one-half{
        width: 50%;
        float: left;

        &:first-child {
            border-right: 1px solid $border-color;
        }
    }
}
.panel-input-row {
    @include display-flex;
    @include flex-direction(row);

    .panel-input-small{
        @include flex(2);
    }
    .panel-input-large{
        @include flex(3);
    }
    .panel-input-tools{
        @include flex(1);
        text-align: right;
    }
}
.uri-params-form-row {
    @include display-flex;
    @include flex-direction(row);

    .param-type {
        @include flex(1);
    }
    .param-key {
        @include flex(4);
    }
    .param-value {
        @include flex(20);
    }
    .param-tools{
        @include flex(4);
        text-align: right;
    }
}