.row{
    @include clearfix;
    clear: both;
}
.panel-input-small,
.panel-input-large {
    width: 100%;

    .type-select{
        display: block;
    }
}
.smart-bar {
    .method-section{
        float: right;
    }
    .security-section{
        float: left;
    }
    .input-section{
        clear: both;
    }
}
.uri-params-form-row{
    @include display-flex;
    @include flex-direction(column);

    .param-type {
        @include order(1);
    }
    .param-tools{
        @include order(2);
        margin-top: -40px;
        text-align: right;
    }
    .param-key {
        @include order(3);
    }
    .param-value {
        @include order(4);
    }
}

@media screen and (min-width: $break-small) {

    .panel-input-row {
        @include display-flex;
        @include flex-direction(row);

        .panel-input-small{
            @include flex(2);
        }
        .panel-input-large{
            @include flex(3);
        }
        .panel-input-tools{
            @include flex(1);
            text-align: right;
        }
    }
    .uri-params-form-row {
        @include display-flex;
        @include flex-direction(row);

        .param-type {
            @include flex(2);
            @include order(1);
        }
        .param-key {
            @include flex(4);
            @include order(2);
        }
        .param-value {
            @include flex(4);
            @include order(3);
        }
        .param-tools{
            @include flex(2);
            text-align: right;
            @include order(4);
            margin: 0;
        }
    }
    .smart-bar {
        @include display-flex;
        @include flex-direction(row);

        .security-section {
            float: none;
            @include order(1);
            padding: 10px;
        }
        .method-section{
            @include order(2);
            padding: 13px 15px;
            float: none;
        }
        .input-section {
            @include flex(20);
            @include order(3);
            padding: 0 10px;
        }
        .button-section {
            @include order(4);
        }
    }

}
@media screen and (min-width: $break-large) {

    .row{
        @include clearfix;
        clear: both;

        .one-half{
            width: 50%;
            float: left;

            &:last-child {
                border-left: 1px solid $border-color;
            }
        }
    }


}