// General Sprite Defaults
// You can override them before you import this file.
$main-sprite-base-class: ".main-sprite" !default;
$main-sprite-dimensions: true !default;
$main-spacing: 10px !default;
$main-position: 0% !default;
$main-repeat: no-repeat !default;

$main-sprites: sprite-map("sprites/base/*.png", $spacing: $main-spacing, $repeat: $main-repeat, $position: $main-position);
$main-sprites-retina: sprite-map("sprites/retina/*.png", $spacing: $main-spacing * 2, $repeat: $main-repeat, $position: $main-position);

// All sprites should extend this class
// The main-sprite mixin will do so for you.
#{$main-sprite-base-class} {
  background: $main-sprites $main-repeat;

  .sprite-text{
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  #{$main-sprite-base-class} {
    background: $main-sprites-retina $main-repeat;
    background-size: ceil(image-width(sprite-path($main-sprites-retina)) / 2) auto;
  }
}

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin main-sprite($name, $dimensions: $main-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$main-sprite-base-class};
  @include sprite($main-sprites, $name, $dimensions, $offset-x, $offset-y);
}

// General sprite classes

$lock-open-url: "lock-open.png";
$logo-url: "logo.png";
$dark-down-url: "dark-down.png";
$pin-url: "pin.png";
$cross-url: "cross.png";
$arrow-right-blue-url: "arrow-right-blue.png";
$search-url: "search.png";
$star-url: "star.png";
$submenu-url: "submenu.png";
$error-mark-url: "error-mark.png";

.lock-open {
    @include main-sprite(lock-open);
}
.logo {
    @include main-sprite(logo);
}
.dark-down {
    @include main-sprite(dark-down);
}
.pin {
    @include main-sprite(pin);
}
.cross {
    @include main-sprite(cross);
}
.arrow-right-blue {
    @include main-sprite(arrow-right-blue);
}
.icon-search {
    @include main-sprite(search);
}
.star {
    @include main-sprite(star);
}
.submenu {
    @include main-sprite(submenu);
}
.error-mark {
    @include main-sprite(error-mark);
}