// Base

$light-gray:                                #F0F1F5;

$body-bg:                                   $light-gray;
$text-color:                                #000;
$font-family:                               'Source Sans Pro';
$font-family2:                              'Source Code Pro';
$font-weight-medium:                        600;
$font-weight-light:                         400;

$base-image-url:                            "sprites/base/";

// Colors

$main-blue:                                 #3399FF;
$dark-blue:                                 #4A4F62;
$dark-blue2:                                #5D6577;
$dark-blue3:                                #3F4555;
$light-blue:                                #F0F1F4;
$light-blue2:                               #CAD0DE;
$light-blue3:                               #A6AEC0;
$border-color:                              #DDDFE6;
$white:                                     #fff;
$main-green:                                #49CC90;

// Top bar colors

$top-bar-bg:                                $dark-blue;
$smart-bar-bg:                              $white;
$smart-input-border:                        $light-gray;
$suggestion-title-color:                    $light-blue2;
$suggestion-hover-bg:                       $light-gray;
$param-color:                               $light-blue2;
$required-color:                            $light-blue3;

// Headings colors

$headings-color:                            $dark-blue2;

// Panel colors

$panel-bg:                                  $white;
$panel-row-border:                          $light-blue;

$panel-btn-color:                           $light-blue2;
$panel-btn-hover-color:                     $dark-blue;

// Input colors

$base-input-color:                          $dark-blue2;

// Tabs

$tabs-inactive-color:                       $light-blue3;
$tabs-active-color:                         $main-blue;

// Url

$url-base-color:                            #4B5264;
$url-param-color:                           #FF6D66;

// Labels

$label-color:                               $dark-blue2;
$label-bg:                                  $light-gray;

$label-ok-bg:                               #F2FBF7;
$label-ok-color:                            #0E422A;

$time-color:                                darken($light-gray, 30%);

// Formated

$formated-border-color:                     $light-blue;
$formated-color:                            $dark-blue3;

// History tabs

$history-tab-color:                         $dark-blue3;

// Helpers

$left-border:                               30px;

// Transitions
$base-speed:                                200ms;
$base-method:                               ease;

$opacity-transition:                        opacity $base-speed $base-method;
$background-transition:                     background $base-speed $base-method;
$color-transition:                          color $base-speed $base-method;

// Buttons
$main-btn-bg:                               $main-green;
$main-btn-color:                            $white;

$switch-color:                              $dark-blue2;
$switch-border-color:                       $dark-blue3;